body{
    background: url("../images/footwear-1838767__340.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-item{
background:#000;
}

.carousel-item img{
    opacity: 0.6;
}

.shoe-expo-color{
    color: #fff !important;
}

.trans-image{   
    transition: 2s;
}

.trans-image:hover{
    transform: scale(1.1);
}
.body-text-color{
    color: #fff;
}
.dots{
    margin-left: 15px;
}

.submit-blank{
    margin-left: 20px;
    padding-left: 10px;
}


    



a:link{
    color: #fff;
    
}




ul li a{
    text-decoration: none;
}

ul li a:link{
    color: #fff;
}

ul li a:visited{
    color: #ddd;
}

ul li a:hover{
    color: #777;
}


/*
footer{
    padding-top: 200px !important;
    padding-left: 50px !important;
    padding-right: 50px !important;
}*/